<!DOCTYPE HTML>
<html>

<head>
	<title>web-push</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" />
	<script type="text/javascript" src="/js/jquery.min.js"></script>
	<script type="text/javascript" src="https://www.gstatic.com/firebasejs/8.5.0/firebase-app.js"></script>
	<script type="text/javascript" src="https://www.gstatic.com/firebasejs/8.5.0/firebase-messaging.js"></script>
	<script type="text/javascript" src="/index.js"></script>
</head>

<body>
	<script>
		if ("serviceWorker" in navigator) {
			window.addEventListener("load", () => {
				navigator.serviceWorker.register("/firebase-messaging-sw.js").then((registration) => {
					firebase.initializeApp(firebaseConfig);
					console.log(registration, "serviceWorker registered!");
					getMessagingObject();
					requestPermission();
				})
			})
		}
	</script>
</body>

</html>